body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-container {

  display: flex;
  padding-top: 12%;
  justify-content: center;
  height: 10vh;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10vh;
}

.sm-logo {
  height: 6vh;
}

.logo-small{display: none;}

@media(max-width: 768px){
  .logo-large{
    display:none;
  }
  .logo-small{
    display:flex;
    height: 20vh;
  }
  .social-media-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 13vh;
    height: 20vh;
  }
}
